@import '/mixin/mixins'
@import '/mixin/sprite'
/* flex menu btn*/
.menu-button
  position absolute
  right 35px
  top 10px
  display none
  width 25px
  cursor pointer
  .line
    height 4px
    margin 3px 0 0 0
    border-radius 4px
    background #58697a
    &:first-child
      margin 0
.social-list
  clearfix()
  padding 6px 0 0 0
  text-align center
  word-spacing 0px
  .social-item
    display inline-block
    margin 0 0 0 24px
    a
      color #58697a
      font-size 47px
      text-decoration none
      &:hover
        color #3ba8c0
    &:first-child
      margin 0

.main-nav
  ul
    background #eff3f7
    border-radius 4px
    overflow hidden
  li
    margin -2px 0 0 0
    padding 0 10px
    a
      display block
      padding 26px 0 22px
      border-top 2px solid #3ba8c0
      color #959aa8
      font-size 21px
      text-decoration none
      text-indent 17px
      &:hover
        color #3ba8c0
    &.active
      background #3ba8c0
      a
        color #fff

.w-contact
  border-radius 4px
  .w-contact-item
    padding 0 0 0 41px
    a
      position relative
      display block
      padding 0 10px 0 41px
      color #fff
      font-size 17px
      text-decoration none

      .icon
        position absolute
        &.icon-mail
          top 11px
          left 0
          font-size 16px
        &.icon-phone
          top 6px
          left 2px
          font-size 21px
        &.icon-skype
          top 8px
          left 2px
          font-size 20px
      &:hover
        span
          text-decoration underline
  .w-contact-title
    margin 0
    padding 0 0 0 18px
    color #fff
    font-size 21px
    font-weight normal
  .lg-blue
    height 40px
    background #3ba8c0
    line-height 46px
  .h-blue
    height 39px
    background #41b9d4
    line-height 39px
  .m-blue
    height 39px
    background #48cbe8
    line-height 39px
  .s-blue
    height 38px
    background #51daf8
    line-height 37px

/*Стили для всех форм*/
.btn
  display block
  width 139px!important
  height 33px!important
  margin 0 auto
  padding 4px 0 0 0
  border-top none
  border-right none
  border-left none
  border-radius 4px
  color #ffffff
  font-size 19px

  &.blue-btn
    background #48cbe8
    border-bottom 4px solid #3ba8c0
    &:hover
      padding 4px 0 4px 0
      border none
    &:active
      padding 0 0 4px 0
      border-top 4px solid #3ba8c0
      border-bottom none
  &.gray-btn
    background #849db5!important
    border-bottom 4px solid #687b8f
    &:hover
      padding 4px 0 4px 0
      border none
    &:active
      padding 0 0 4px 0
      border-top 4px solid #3ba8c0
      border-bottom none

form
  overflow hidden
  border-radius 4px
  background #eff3f7
  .form-legend
    background #48cbe8
    color #ffffff
    font-weight 400
  .form-group
    margin 0 0 11px 0
  label
    display block
    margin 0 0 7px 0
    color #959aa8
    font-weight 300
  input
    placeholder(#48cbe8)
  input
  textarea
    width 100%
    border 1px solid #48cbe8
    border-radius 4px
    background white
    color #48cbe8
    resize none
    &:focus
      outline none
    &.error
      border 1px solid #f97e76
      background transparent url("../img/bg/red-transparent-bg.png")
  textarea
    &::-webkit-input-placeholder
      color #48cbe8 !important
    &::-moz-placeholder
      color #48cbe8 !important
    &:-moz-placeholder
      color #48cbe8 !important
    &:-ms-input-placeholder
      color #48cbe8 !important



#add-project-form
  display none
  width 362px
  .form-legend
    margin 0 0 15px 0
    padding 0 0 0 10px
    border-bottom 9px solid #67dffa
    font-size 25px
    line-height 44px
  .form-group
    padding 0 21px
    &.btn
      text-align center
  input
    width 100%
    height 41px
    padding 0 9px
    font 300 13px 'Fira Sans'
  textarea
    padding 13px 8px
    height 111px
    color #48cbe8
    font 300 13px 'Fira Sans'
  .jq-file
    width 100%
    box-shadow none
    &.error
      .jq-file__name
        border 1px solid #f97e76
        background transparent url("../img/bg/red-transparent-bg.png")
  .jq-file__name
    height 41px
    border 1px solid #48cbe8
    box-shadow none
    overflow hidden
    color #48cbe8
    font 300 13px 'Fira Sans'
    line-height 41px
  .jq-file__browse
    top 0px
    right 0px
    width 52px
    height 42px
    border none
    background #48cbe8
    border none
    box-shadow none
    color white
    font-size 24px
    text-align center
    text-shadow none
    line-height 41px!important
    font-family 'icomoon'
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before
      content "\e60b"

/* сТИЛИЗАЦИЯ тултипов*/
.tooltipster-default
  border 2px solid #f97e76
  background #f97e76
  color #fff

#contact-form
  .form-legend
    margin 0 0 48px 0
    border-bottom 17px solid #67dffa
    font-size 27px
    text-align center
    line-height 121px
  .form-group
    clearfix()
    margin 0 0 16px 0
    padding 0 124px 0 123px
    .inline
      width 192px
      &.left
        float left
      &.right
        float right
  label
    font-size 19px
  input
    width 100%
    height 41px
    padding 0 9px
    font 300 13px 'Fira Sans'
  textarea
    padding 13px 8px
    height 181px
    color #48cbe8
    font 300 13px 'Fira Sans'
  .captcha-img
    float left
    width 191px
    height 79px
    border 1px solid #48cbe8
    border-radius 4px
    background white
    text-align center
    line-height 79px
    img
      display inline-block
      vertical-align middle
  #captcha-code
    float right
    width 192px
    height 32px
